In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
cliente = pd.read_csv('Dados/cliente.csv')

In [4]:
cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105924 entries, 0 to 105923
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ID_CLIENTE       105924 non-null  int64
 1   SEXO             105924 non-null  object
 2   DATA_NASCIMENTO  105924 non-null  object
 3   PRIMEIRA_COMPRA  105924 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.2+ MB

In [5]:
cliente.SEXO.unique()

array([' ', 'F', 'O', 'M', 'm', 'f'], dtype=object)

In [6]:
cliente[cliente.SEXO == ' '].count()

ID_CLIENTE         59401
SEXO               59401
DATA_NASCIMENTO    59401
PRIMEIRA_COMPRA    59401
dtype: int64

In [7]:
# De um total de 105924 registros, a coluna SEXO cont√©m 59401 registros sem o dado SEXO

In [9]:
#Corrigindo as escritas de SEXO
cliente_sexo_m = cliente[cliente.SEXO=='m']
cliente_sexo_m.head()

     ID_CLIENTE SEXO DATA_NASCIMENTO PRIMEIRA_COMPRA
510         510    m      1975/12/09      2020/09/22
513         513    m      1979/11/13      2020/09/22
519         519    m      1981/04/26      2020/09/22
520         520    m      1978/12/09      2020/09/22
521         521    m      1972/06/08      2020/09/22